<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/template :: header">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-12">
			<nav th:replace="/layout/template :: navegacion"></nav>
			<div class="card mt-5">
				<div class="card-header"></div>
				<div class="card-body">
		<a class="btn btn-primary" href="/detfacturas/form">Añadir un producto a la factura</a>
						<table class="table mt-3">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">ID FACTURA</th>
									<th scope="col">PRODUCTO</th>
									<th scope="col">CANTIDAD</th>
									<th scope="col">COSTO</th>
									<th scope="col">EDITAR</th>
									<th scope="col">ELIMINAR</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="detfactura : ${detfacturas}">
									<th scope="row" th:text="${detfactura.id}"></th>
									<td th:text="${detfactura.idf}"></td>
									<td th:text="${detfactura.producto}"></td>
									<td th:text="${detfactura.cantidad}"></td>
									<td th:text="${detfactura.precio}"></td>
									<td><a class="btn btn-warning"
										th:href="@{/detfacturas/form/} +${detfactura.id}" th:text="Editar"></a></td>
									<td><a class="btn btn-danger"
										th:href="@{/detfacturas/eliminar/} +${detfactura.id}" th:text="Eliminar" onclick="return confirm('Estas seguro de eliminar')"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>		
	</div>
</div>
</body>
</html>